[Desktop Entry]
Name=Steam (Big Picture)
Comment=Native Steam Big Picture as a fullscreen niri window
Exec=steam -gamepadui
Icon=steam
Terminal=false
Type=Application
Categories=Game;
Keywords=steam;bigpicture;games;
